!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width", "initial-scale" => "1.0", :name => "viewport"}
    %link{:href => "assets/stylesheets/dist/app.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700", :rel => "stylesheet", :type => "text/css"}
    
    %script{:src => "bower_components/bootstrap/dist/css/bootstrap.min.css"}
    %title Fruits BEM
  %body
    %figure.main-division
      .heading-section__title
        %h1.heading-section__title__text Fruity Fruits.
      .heading-section__presentation
